.coding__page {}

.coding__title {
    font-weight: 700;
    font-size: 52px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 138px;
    padding: 79px;
}

.coding__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coding__images {}

.coding__img {
    border: 5px solid #5A3CCC;
    border-radius: 67px;
}

.coding__text {}

.coding__texts {
    font-family: 'Oregano';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    color: #FFFFFF;
    max-width: 409px;
}

.boxs {
    order: 1;
}



@media (max-width: 1291px) {
    .coding__img {
        width: 100%;
    }

    .coding__box {
        gap: 60px;
    }
}

@media (max-width: 1090px) {
    .coding__box {
        flex-direction: column;
    }

    .coding__texts {
        max-width: 100%;
        text-align: center;
    }

    .coding__img {
        margin-bottom: 30px;
    }

    .coding__images {
        order: 1;
    }
}

@media (max-width: 785px) {
    .coding__texts {
        font-size: 25px;
    }

    .coding__title {
        font-size: 25px;
        padding: 43px;
    }
}