.page__contact {
    padding-top: 50px;
    padding-bottom: 230px;
}

.container {}

.contact__body {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact__bodys {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact__left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact__telegramm {
    font-weight: 400;
    font-size: 42px;
    line-height: 105%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 120px 25px 140px;
    border: 1px solid #FFFFFF;
    border-radius: 33px;
    transition: all 0.3s ease-in-out;
}

.contact__telegramm:hover {
    background: #AC339E;
    color: #FFFFFF;
}

.contact__instagramm {
    font-weight: 400;
    font-size: 42px;
    line-height: 105%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 120px 25px 140px;
    border: 1px solid #FFFFFF;
    border-radius: 33px;
    transition: all 0.3s ease-in-out;
}

.contact__instagramm:hover {
    background: #AC339E;
    color: #FFFFFF;
}

.contact__github {
    font-weight: 400;
    font-size: 42px;
    line-height: 105%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 120px 25px 140px;
    border: 1px solid #FFFFFF;
    border-radius: 33px;
    transition: all 0.3s ease-in-out;
}

.contact__github:hover {
    background: #AC339E;
    color: #FFFFFF;
}


.contact__linkedin {
    font-weight: 400;
    font-size: 42px;
    line-height: 105%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 120px 25px 140px;
    border: 1px solid #FFFFFF;
    border-radius: 33px;
    transition: all 0.3s ease-in-out
}

.contact__linkedin:hover {
    background: #5276FE;
    color: #FFFFFF;
}

.contact__codewars {
    font-weight: 400;
    font-size: 42px;
    line-height: 105%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 120px 25px 140px;
    border: 1px solid #FFFFFF;
    border-radius: 33px;
    transition: all 0.3s ease-in-out
}

.contact__codewars:hover {
    background: #5276FE;
    color: #FFFFFF;
}

.contact__gmail {
    font-weight: 400;
    font-size: 42px;
    line-height: 105%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 120px 25px 140px;
    border: 1px solid #FFFFFF;
    border-radius: 33px;
    transition: all 0.3s ease-in-out;
}

.contact__gmail:hover {
    background: #5276FE;
    color: #FFFFFF;
}

.contact__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__title {}

.contact__titles {
    font-weight: 400;
    font-size: 50px;
    line-height: 88%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 118px;
    padding-top: 116px;
}


@media (max-width: 1230px) {
    .contact__box {
        flex-direction: column;
    }

    .contact__body {
        width: 100%;
    }

    .contact__bodys {
        width: 100%;
    }
}

@media (max-width: 805px) {

    .contact__telegramm,
    .contact__codewars,
    .contact__github,
    .contact__gmail,
    .contact__instagramm,
    .contact__linkedin {
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact__titles {
        font-size: 42px;
        padding-top: 59px;
        padding-bottom: 59px;
    }
}

@media (max-width: 581px) {
    .page__contact {
        padding-bottom: 0;
    }
}


@media (max-width: 465px) {
    .contact__titles {
        font-size: 27px;
    }

    .contact__telegramm,
    .contact__codewars,
    .contact__github,
    .contact__gmail,
    .contact__instagramm,
    .contact__linkedin {
        font-size: 20px;
        padding: 0;
        height: 42px;

    }
}