.header__boxs {}

.header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
}

.header__titles {
    font-size: 50px;
    line-height: 88%;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 496px;
}

.header__man {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -46px;
}

.header__imgss {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}